1. Count numbers (*)
Use a for statement to count from:
  a)   -10 to 10 with one increment (*)

In [4]:
for x in range(-10,11,1):
    print(x)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1
0
1
2
3
4
5
6
7
8
9
10

 b)   -10 to 10 with two increment (*)

In [5]:
for x in range(-10,11,2):
    print(x)

-10
-8
-6
-4
-2
0
2
4
6
8
10

2. Arithmetic sum (*)
Use a for statement to compute the following sums:
  a)   $\text{sum} = 1 + 2 + \ldots + 99+ 100$

In [6]:
sum=0
for i in range (1,101,1):
    sum+=i

print(sum)

5050

  b)   $\text{sum} = 1 + 3 + 5 + \ldots + 97 + 99$ (*)

In [7]:
sum=0
for i in range(1,100,2):
    sum+=i

print(sum)

2500

3. Multiplication table (*)
Use for statement(s) to:
a)   print out the 6th multiplication table from 0 to 10 (*)

In [9]:
for i in range(11):
    print(f"6 x {i} = {6*i}")

6 x 0 = 0
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

b)   let the user input the table, start and end of the table. (*)

In [14]:
table = int(input("Please enter a table"))
tablestart = int(input("Please enter the start of the table"))
tableend = int(input("Please enter the end of the table"))

for i in range(tablestart,(tableend+1),1):
    print(f"{table} x {i} = {table*i}")

6
1
10
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

c)   print out a full multiplication table from 0 to 10. (**)

In [17]:
for i in range(1,11,1):
    for j in range(1,11,1):
        print(f"{i} x {j} = {i*j}")
    print("-----------")

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
-----------
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
-----------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
-----------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
-----------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
-----------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
-----------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
-----------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
-----------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
-----------
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
-----------

4. Faculty (*)

Use a for statement to compute $n!$.
$n! = 1\cdot2\cdot3\cdot\ldots\cdot(n-1)\cdot n $
Let the user input $n$.

In [24]:
n= int(input("Enter n"))
sum=1

for i in range(1,n+1,1):
    sum*=i

print(sum)

40320

5. Guess the number (*)
The computer thinks of a four-digit number. Start by creating a random four-digit number. Use for statement to figure out a correct guess

In [55]:
import random as rnd

number = rnd.randint(1000,9999)

for i in range(1000,10000,1):
    if (i==number):
        print(i)
        i=10000

8196

6. Rice on chessboard (*)
In first square of the chessboard there is one grain of rice, in the second square there is two grains, in the third square there is four grains and so on. How many grains are there in the whole chessboard when all squares are filled using this pattern?

In [59]:
sum=0

for i in range(0,65,1):
    sum+= 2**i

print(sum)

36893488147419103231